<div class="page-container">
  <h1 class="page-title">Taxi License Requests</h1>
  <div class="table-container">
    <table class="fancy-table">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Car</th>
          <th>License Plate</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let license of licenseDTO">
          <td data-label="Firstname">{{ license.userFirstName }}</td>
          <td data-label="Lastname">{{ license.userLastName }}</td>
          <td data-label="Email">{{ license.userEmail }}</td>
          <td data-label="Phone">{{ license.userPhone }}</td>
          <td data-label="Car">{{ license.userCar }}</td>
          <td data-label="License Plate">{{ license.licensePlate }}</td>
          <td data-label="Status">
            <span [style.color]="license.userStatus === 'Accepted' ? 'green' : license.userStatus === 'Rejected' ? 'red' : license.userStatus === 'Pending' ? 'yellow' :'black'">
              {{ license.userStatus }}
            </span>
          </td>
          <td data-label="Actions">
            <div class="button-container">
              <button class="approve-button" (click)="approve(license.taxiLicenseId)">Approve</button>
              <button class="reject-button" (click)="reject(license.taxiLicenseId)">Reject</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
