<div class="wrapper">
    <div class="login-container text-c animated flipInX">
        

        <p class="header-text">Sign In</p>

        <div class="container-content">
            <form class="margin-t">
                <div class="form-group margin-b-md">
                    <input type="text" class="form-control" placeholder="Username" required />
                </div>

                <div class="form-group margin-b-md">
                    <input type="password" class="form-control" placeholder="Password" required />
                </div>

                <button type="submit" class="form-button button-l margin-b">Sign In</button>

                <div class="margin-b-sm">
                    <a class="text-darkyellow" href="#"><small>Forgot your password?</small></a>
                </div>

                <p class="text-whitesmoke"><small>Don't have an account?</small></p>
                <a class="text-darkyellow" href="/registration"><small>Sign Up</small></a>
            </form>

        
        </div>
    </div>

</div>
