<div class="page-container">
  <h1 class="page-title">Ride Requests</h1>
  <div class="table-container">
    <table class="fancy-table">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Pickup address</th>
          <th>Destination address</th>
          <th>Date Time</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let ride of rides">
          <td data-label="Firstname">{{ ride.passangerFirstname }}</td>
          <td data-label="Lastname">{{ ride.passangerLastname }}</td>
          <td data-label="Pickup address">{{ ride.pickupAddress }}</td>
          <td data-label="Destination address">{{ ride.destinationAddress }}</td>
          <td data-label="Date Time">{{ ride.datetime | date: 'dd.MM.yyyy. HH:mm' }}</td>
          <td data-label="Status">
            <span [style.color]="ride.status === 'Accepted' ? 'green' : ride.status === 'Rejected' ? 'red' : ride.status === 'Pending' ? 'yellow' :'black'">
              {{ ride.status }}
            </span>
          </td>
          <td data-label="Actions">
            <button (click)="acceptRide(ride.rideId)">Accept</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
