<div class="wrapper">
    <div class="registration-container text-c animated flipInX">
        

        <p class="header-text">Registration form</p>

        <div class="container-content">
            <form class="margin-t">
                <div class="form-group margin-b-md">
                    <input type="text" class="form-control" placeholder="First Name..." required />
                </div>

                <div class="form-group margin-b-md">
                    <input type="text" class="form-control" placeholder="Last Name..." required />
                </div>

                <div class="form-group margin-b-md">
                    <input type="tel" class="form-control" placeholder="Phone number..." required />
                </div>

                <div class="form-group margin-b-md">
                    <input type="text" class="form-control" placeholder="Username..." required />
                </div>

                <div class="form-group margin-b-md">
                    <input type="password" class="form-control" placeholder="Password..." required />
                </div>

                <div class="form-group margin-b-md">
                    <input type="password" class="form-control" placeholder="Confirm password..." required />
                </div>

                <button type="submit" class="form-button button-l margin-b">Register</button>

                
            </form>

        
        </div>
    </div>

</div>
