<div class="wrapper">
    <div class="form-container text-c animated flipInX">
        

        <p class="header-text">Driver will arrive for {{rideInfo.ETA}} minutes...</p>

        <div  class="container-content">
            <form  class="margin-t">
                <label class="form-label">Driver: {{rideInfo.DriverFirstName}} {{rideInfo.DriverLastName}}</label>
            
                <label class="form-label">Car: {{rideInfo.DriverCar}}</label>
                
                <label class="form-label">License plate: {{rideInfo.LicensePlate}}</label>

               
            </form>

        
        </div>
    </div>

</div>
