<div class="menu-container">
  
  <input type="checkbox" id="openmenu" class="hamburger-checkbox">
  
  <div class="hamburger-icon">
    <label for="openmenu" id="hamburger-label">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </label>    
  </div>
   <div class="logout-button" *ngIf="isLoggedIn">
    <button (click)="logout()">Log out</button>
   </div>
    <div class="menu-pane">     
      <nav *ngIf="isLoggedIn === false">
        <ul class="menu-links" >
          <li><a href="">Home</a></li> 
          <li><a href="/login">Login</a></li>
          <li><a href="/registration">Registration</a></li> 
           
        </ul>  
      </nav>
      
      <ng-container *ngIf="isLoggedIn === true">
        <nav *ngIf="userRole">
          <ul class="menu-links" *ngIf="userRole === 'admin'">
            <li><a href="/taxi-licence-requests">Taxi License requests</a></li> 
            <li><a href="/my-profile">Edit profile</a></li>  
          </ul>    
          <ul class="menu-links" *ngIf="userRole === 'driver'">
            <li><a href="/ride-requests">Ride requests</a></li>
            <li><a href="/my-profile">Edit profile</a></li>    
          </ul>    
          <ul class="menu-links" *ngIf="userRole === 'user'">
            <li><a href="">Home</a></li> 
            <li><a href="/my-profile">Edit profile</a></li>    
            <li><a href="/taxi-licence-request">Apply for a Taxi License</a></li>  
          </ul> 
        </nav>
      </ng-container>
    
    </div>
  
</div>