<div class="menu-container">
  
  <input type="checkbox" id="openmenu" class="hamburger-checkbox">
  
  <div class="hamburger-icon">
    <label for="openmenu" id="hamburger-label">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </label>    
  </div>
   <div class="logout-button" *ngIf="isLoggedIn$ | async">
    <button (click)="logout()">Log out</button>
   </div>
    <div class="menu-pane">     
      <nav *ngIf="(isLoggedIn$ | async) === false">
        <ul class="menu-links" >
          <li><a href="">Home</a></li> 
          <li><a href="/login">Login</a></li>
          <li><a href="/registration">Registration</a></li> 
           
        </ul>  
      </nav>
      
      <ng-container *ngIf="(isLoggedIn$ | async) === true">
        <nav *ngIf="(userRole$ | async) as role">
          <ul class="menu-links" *ngIf="role === 'admin'">
            <li><a routerLink="">Home</a></li> 
            <li><a routerLink="/all-drivers">Drivers</a></li>
            <li><a routerLink="/driver-requests">Driver requests</a></li> 
            <li><a routerLink="/my-profile">Edit profile</a></li>  
          </ul>    
          <ul class="menu-links" *ngIf="role === 'driver'">
            <li><a routerLink="">Home</a></li> 
            <li><a routerLink="/registration">Registration</a></li>
            <li><a routerLink="/my-profile">Edit profile</a></li>    
          </ul>    
          <ul class="menu-links" *ngIf="role === 'user'">
            <li><a routerLink="">Home</a></li> 
            <li><a routerLink="/rides">Rides</a></li>
            <li><a routerLink="/my-profile">Edit profile</a></li>    
          </ul> 
        </nav>
      </ng-container>
    
    </div>
  
</div>